<div class="container">

  <div class="jumbotron mt-3 mat-elevation-z1">
    <h1 class="display-4">katschangular-three-states-toggle</h1>
    <p class="lead">
      A simple Toggle Switch with three states.
    </p>
    <hr class="my-4">
    <p>
      This is a simple Angular Component which supports 3 states. Next to the states `true` or `false` a third state
      that is `null`/`undefined` can be set. It is based on Angular <a href="https://material.angular.io/">Material</a>
    </p>
    <a class="btn btn-primary btn-lg"
       href="https://github.com/tkarzewski/katschangular-three-states-toggle"
       role="link">
      View on Github
    </a>
  </div>


  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Example
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="d-flex justify-content-start flex-wrap">

        <div class="mr-5">
          <katschangular-three-states-toggle
            label="Toggle me"
            [color]="color"
            [disabled]="disabled"
            [(value)]="value">
          </katschangular-three-states-toggle>

          <pre>

  {{'<'}}katschangular-three-states-toggle
    label="Toggle me"
    [color]="{{ (color + '') }}"
    [disabled]="{{ (disabled + '') }}"
    [(value)]="{{ (value + '') }}">
  {{'<'}}/katschangular-three-states-toggle>&nbsp;
          </pre>
        </div>

        <div class="control">
          <code>value</code>: <button mat-raised-button [class.selected]="value === false" (click)="value = false">false</button>
          <button mat-raised-button [class.selected]="value === undefined" (click)="value = undefined">undefined</button>
          <button mat-raised-button [class.selected]="value === null" (click)="value = null">null</button>
          <button mat-raised-button [class.selected]="value === true" (click)="value = true">true</button><br><br><br>

          <mat-checkbox [(ngModel)]="disabled" labelPosition="before" class="mr-2"><code>disabled</code>:</mat-checkbox> {{ (disabled + '') }}<br><br><br>

          <code>color</code>: <mat-slide-toggle class="ml-2" (toggleChange)="color === 'primary' ? color = 'accent' : color= 'primary'">{{ (color + '') }}</mat-slide-toggle>
        </div>

      </div>


    </mat-card-content>

  </mat-card>


  <mat-card class="mt-4 mb-4">
    <mat-card-header>
      <mat-card-title>Instructions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ol>
        <li>
          A recommended way to install <i>katschangular-three-states-toggle</i>> is through <a href="https://www.npmjs.com/search?q=three-states-toggle">npm</a>
          package manager using the following command:<br>
          <code>npm i -S katschangular-three-states-toggle</code>
        </li>
        <li>
          Import <code>KatschangularThreeStatesToggleModule</code> into the module that declares the component using
          <i>katschangular-three-states-toggle</i><br>
          <code>import {{'{'}} KatschangularThreeStatesToggleModule } from 'katschangular-three-states-toggle';</code>
        </li>
        <li>
          Add it to <code>[imports]</code> under <code>@NgModule</code>:
          <br><code>imports: [ ... KatschangularThreeStatesToggleModule, ... ]</code>
        </li>
        <li>
          Use the component in your Template:
          <pre>

  {{'<'}}katschangular-three-states-toggle
    color="accent"
    [label]="label"
    [disabled]="disabled"
    [(value)]="value">
  {{'<'}}/katschangular-three-states-toggle>
          </pre>
        </li>
      </ol>
    </mat-card-content>
  </mat-card>

</div>
